<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  >
    <listeners>
        <listener class-name="helps.TestListener"/>
    </listeners>
    <test name="FirefoxTest">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="com.uiauto.BaseTest"/>
        </classes>
    </test>
</suite>